<header><h1><%= @shelter.name %></h1></header>
<p><%= @shelter.address %> <br/>
<%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<br/>
<%= button_to "Available Pets", "/shelters/#{@shelter.id}/pets", method: :get %>
<br/>
<footer><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> |
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></footer>
