<h1>All Pets</h1>

<% @pets.each do |pet|%>
  <img src="<% pet.image %>" alt="<% pet.image %>">
  <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a>,
  <%= pet.approx_age %>, <%= pet.sex %> <br/>
  <a href="/shelters/<%= pet.shelter_id %>"><%= pet.shelter.name %></a>
<% end %>
